# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment and Secrets
.env
*.json
!package.json

# Database and SQLite
*.db
*.sqlite3

# Celery & Redis
celerybeat-schedule*
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db